
@{
    ViewData["Title"] = "Segredo!";
}
<h1>@ViewData["Title"]</h1>

<p>Modelo de exemplo de uso</p>




<div>
    <a asp-action="Create" disable-by-role-type="Produto" disable-by-role-value="Criar" class="btn btn-outline-primary">Gravar novo</a>
</div>


<div >
    <a supress-by-action="Editar" asp-action="Produto" asp-route-id="1" class="btn btn-info" data-model="">
        <span title="Editar" class="fade fa-pencil-alt"></span>
    </a>
    
</div>


<p supress-by-role-type="Produto" supress-by-role-value="Criar">

    <a asp-action="Create" class="btn btn-outline-primary">Gravar novo</a>

</p>




<p supress-by-role-type="Produto" supress-by-role-value="Criar">
    <a asp-action="Create" class="btn btn-outline-primary">Gravar novo</a>

</p>


<p supress-by-role-type="Produto" supress-by-role-value="Editar">
    <a asp-action="Create" class="btn btn-outline-primary">Editar Registro</a>

</p>

<p supress-by-role-type="Produto" supress-by-role-value="Excluir">
    <a asp-action="Create" class="btn btn-outline-primary">Excluir Registro</a>

</p>

<p supress-by-role-type="Produto" supress-by-role-value="Visualizar">
    <a asp-action="Create" class="btn btn-outline-primary">Visualizar Registro</a>

</p>

<p supress-by-role-type="Produto" supress-by-role-value="Visualizar">
    <a asp-action="Create" class="btn btn-outline-primary">Vendedor pode Visualizar Registro</a>

</p>